@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@font-face {
  font-family: "Delivery";
  src: url("/public/Delivery_W_Bd.woff");
  font-weight: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}
